body{
    max-width: 1280px;
    margin: 0 auto;
}
img{
    width: 100%;
    height: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    padding: 30px 40px;
}
.logo{
    display: flex;
    flex-direction: column;
    /*margin-top: 30px;*/
    /*margin-left: 40px;*/
}
.logo-info a {
    text-decoration: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #545454;
}
.logo-subtitle{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: justify;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #292929;
}
.navbar-header {
    display: flex;
    justify-content: flex-end;
}

.nav-link{
    margin-right: 35px;
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
}
.our-friends{
    background-color: #F6F6F6;
}
.heading-friends{
    display: flex;
    justify-content: center;
}
.heading-text-our-friends{
    margin-top: 80px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.slider{
    /*display: flex;*/
    /*!*flex-direction: row;*!*/
    /*justify-content: center;*/
    margin-top: 60px;
    margin-right: 145px;
    width: 1280px;
    /*height: 1340px;*/
}
.pets-img-slider{
    width: 270px;
    height: 270px;
}
.top{
    display: flex;
    /*justify-content: center;*/
}
.bottom{
    display: flex;
    margin-top: 30px;
}
.slider-button{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.slider-control-one{
    border-radius: 50%;
    width: 52px;
    height: 52px;
    border-color: #F1CDB3;
    background:#F1CDB3; ;
}
.slider-control-one span{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #292929;
}
.slider-control-left{
    /*position: absolute;*/
    /*left: 59px;*/
    /*top:375px;*/
    border-radius: 50%;
    width: 52px;
    height: 52px;
    border-color: #F1CDB3;
}
.slider-control-left img{
    width: 14px;
    height: 6px;
}
.buttons-container{
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    background: #F6F6F6;
}
.buttons{
    display: flex;
}
.slider-control-right{
    position: absolute;
    right: 59px;
    top:375px;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    border-color: #F1CDB3;
}
.slider-item-katrine{
    margin-left: 40px;
    width: 270px;
    height: 270px;
    border-radius: 9px 9px 0px 0px;
}
.slider-control-right img{
    width: 14px;
    height: 6px;
}
.slider-item{
    margin-left: 40px;
    width: 270px;
    height: 270px;
    border-radius: 9px 9px 0px 0px;
}
.slider-item-bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 270px;
    height: 435px;
    border-radius: 9px;
}
.slider-item-bottom p{
    margin-top: 30px;
    margin-bottom: 45px;
}
.pets-name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97px;
    height: 22px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
.learn-more{
    width: 187px;
    height: 52px;
    border-color: #FDDCC4;
    border-radius: 100px;
}
.top-section{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}
.bottom-friends-section{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 100px;
}
.get-know-the-rest{
    margin-top: 120px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
}
footer{
    background:radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    display: flex;
}
.questions{
    display: flex;
    flex-direction: column;
    right: 0;
    margin-top: 56px;
    margin-left: 40px;
    margin-bottom: 64px;
}
.question-description h3{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.waiting-for{
    margin-top: 56px;
    margin-left: 161px;
    margin-bottom: 64px;
}
.waiting-for-description h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.mail{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mail-img{
    width: 40px;
    height: 26px;
}
.mail-link a{
    margin-left: 20px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}
.tel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-img{
    width: 40px;
    height: 32px;
}
.phone-link a {
    margin-left: 20px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}
.location-pin{
    display: flex;
    justify-content: center;
    align-items: center;
}
.location-img{
    width: 22px;
    height: 32px;
}
.location-link a{
    margin-left: 20px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}
.footer-img{
    display: flex;
    align-items: end;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 160px;
}
.footer-img p{
    width: 300px;
    height: 310px;
    margin-bottom: 0px;
}
