body{
    /*max-width: 1280px;*/
    /*   margin: 0 auto;*/
    /*   min-width: 320px;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;*/
}
img{
    width: 100%;
    height: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background: url(assets/start-screen-gradient-background.png);*/
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;;
    padding: 30px 40px;
}
.logo{
    display: flex;
    flex-direction: column;
    /*margin-top: 30px;*/
    /*margin-left: 40px;*/
}
.logo-info a{
    text-decoration: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
}
.logo-subtitle{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: justify;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}
.navbar-header {
    display: flex;
    justify-content: flex-end;
}

.nav-link{
    margin-right: 36px;
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #FAFAFA;
}
.nav-link:first-child {
    border-bottom: 3px solid #F1CDB3;
    color: #FAFAFA;
}
.start-screen{
    display: flex;
    justify-content: center;
    /*background: url(assets/start-screen-gradient-background.png);*/
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

}
.start-screen-img{
    background: url(assets/start-screen-puppy.png);
}

.main-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
}
.main-text{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
}
.main-text-description{
    margin-top: 42px;
    display: flex;
    align-items: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}
.btn-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
    padding: 15px 45px;
    gap: 10px;
    width: 207px;
    height: 52px;
    /*background: #F1CDB3;*/
    /*border-radius: 100px;*/
    border: 1px solid #F1CDB3;
    border-radius: 100px;
    background: #F1CDB3;
    color: #292929;
    transition: background-color 300ms;

}
.btn-primary a{
    text-decoration: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    white-space: nowrap;
}
.btn-primary span{
    width: 117px;
    height: 22px;
    white-space: nowrap;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
.btn-primary :hover{
    background-color: #FDDCC4;
}
.start-screen-img{
    margin-top: 180px;
    width: 698px;
    height: 728px;
    bottom: 0px;
}
.about-shelter{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}
.about-img{
    margin-top: 80px;
    width: 300px;
    height: 408px;
}
.about-shelter{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.about-shelter-card{
    margin-top: 80px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
}
.about-main-text{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    color: #545454;
}
.about-main-text-description{
    margin-top: 25px;
    text-align: justify;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}
.our-friends{
    position: relative;
    background-color: #F6F6F6;
    height: 877px;
}
.heading-friends{
    display: flex;
    justify-content: center;
}
.heading-text-our-friends{
    margin-top: 80px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.slider{
    display: flex;
    /*!*flex-direction: row;*!*/
    justify-content: center;
    margin-top: 60px;
    margin-right: 145px;
    margin-right: 145px;
}
.pets-img-slider{
    width: 270px;
    height: 270px;
}
.slider-button{
    display: flex;
    align-items: center;
    margin-left: 59px;
}
.slider-control-left{
    position: absolute;
    left: 59px;
    top:375px;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    /*border-color: #F1CDB3;*/
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    transition: background-color 400ms;
}
.slider-control-left img{
    width: 14px;
    height: 6px;
}
.slider-control-right{
    position: absolute;
    right: 59px;
    top:375px;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    /*border-color: #F1CDB3;*/
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    transition: background-color 400ms;
}
.slider-button :hover{
    background-color: #F1CDB3;
}
.slider-item-katrine{
    margin-left: 150px;
    width: 270px;
    height: 270px;
    border-radius: 9px 9px 0px 0px;
}
.slider-item-jennifer{
    margin-left: 90px;
    width: 270px;
    height: 270px;
    border-radius: 9px 9px 0px 0px;
}
.slider-control-right img{
    width: 14px;
    height: 6px;
}
.slider-item{
    margin-left: 90px;
    width: 270px;
    height: 270px;
    border-radius: 9px 9px 0px 0px;
}
.slider-item-bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 270px;
    height: 435px;
    border-radius: 9px;
}
/*.slider-item :hover{*/
/*    background-color: #FAFAFA;*/
/*}*/
.slider-item-bottom p{
    margin-top: 30px;
    margin-bottom: 45px;
}
.pets-name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97px;
    height: 22px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
.learn-more{
    width: 187px;
    height: 52px;
    /*border-color: #FDDCC4;*/
    /*border-radius: 100px;*/
    padding: 13px 43px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background: #FAFAFA;
    color: #292929;
    margin-bottom: 30px;
    transition: background-color 300ms;
}
.learn-more:hover{
    background-color: #F1CDB3;
}
.bottom-friends-section{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 100px;
}
.get-know-the-rest{
    margin-top: 120px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
}
.get-know-the-rest a{
    text-decoration: none;
}
.get-know-the-rest span{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    align-self: center;

}
.bottom-friends-section :hover{
    background-color: #FDDCC4;
}
.how-you-can-help{
    background-color: #FFFFFF;
}
.help-heading{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.help-heading-text{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.help-cards-content-top{
    margin-left: 127px;
    margin-right: 127px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    /*display: grid;*/
    /*grid-template: repeat(3, 1fr)/ repeat(3, 1fr);*/
    /*gap: 3.75rem;*/
    /*display: flex;*/
    /*justify-content: space-around;*/
    /* flex-wrap: wrap;*/
    /*gap: 7.5rem;*/
    /*padding-bottom: 6.25rem;*/
}
.help-cards-content-bottom{
    margin-left: 211px;
    margin-right: 211px;
    margin-top: 59px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.help-card{
}
.help-img-pet-food{
    margin-left: 15px;
    Width :47.86px;
    Height :60px;
}
.help-img-transportation{
    margin-left: 35px;
    width: 59.95px;
    height: 60px;
}
.help-img-toys{
    width: 60px;
    height: 60px;
    left: calc(50% - 60px/2);
    top: calc(50% - 60px/2);
}
.help-img-bowls{
    width: 60px;
    height: 56.82px;
    margin-left: 40px;
}
.help-img-shampoos{
    width: 31.3px;
    height: 60px;
    margin-left: 35px;
}
.help-img-vitamins{
    width: 60px;
    height: 54.16px;
    margin-left: 10px;
}
.help-img-medicines{
    width: 60px;
    height: 60px;
    margin-left: 10px;
}
.help-img-collars{
    width: 60px;
    height: 52.43px;
    margin-left: 40px;
}
.help-img-sleeping{
    width: 56.29px;
    height: 60px;
    margin-left: 40px;
}
.help-card h4{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.donation{
    background-color: #F6F6F6;;
}
.donation-elements{
    display: flex;
    justify-content: center;
}
.donation-img{
    margin-top: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 110px;
}
.donation-dog{
    width: 505px;
    height: 261px;
}
.donation-cards{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.donation-heading-text{
    margin-top: 80px;
    /*padding-top: 10px;*/
    /*padding-left: 15px;*/
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    width: 300px;
    height: 90px;
}
.name-of-bank{
    margin-top: 20px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    color: #545454;
    width: 307px;
    height: 17px;
}
.credit-card-number a{
    text-decoration: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-left: 15px;
}
.donation-credit-card{
    margin-top: 30px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    background: #F1CDB3;
    border-radius: 9px;
    width: 349px;
    height: 43px;
}
.donation-credit-card-img{
    width: 30px;
    height: 23px;
}
.donation-description{
    margin-top: 20px;
    margin-bottom: 100px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #B2B2B2;
    width: 380px;
    height: 72px;
}
footer{
    background:radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    display: flex;
}
.questions{
    display: flex;
    flex-direction: column;
    right: 0;
    margin-top: 56px;
    margin-left: 40px;
    margin-bottom: 64px;
}
.question-description h3{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.waiting-for{
    margin-top: 56px;
    margin-left: 161px;
    margin-bottom: 64px;
}
.waiting-for-description h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.mail{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mail-img{
    width: 40px;
    height: 26px;
}
.mail-link a{
    margin-left: 20px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}
.tel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-img{
    width: 40px;
    height: 32px;
}
.phone-link a {
    margin-left: 20px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}
.location-pin{
    display: flex;
    justify-content: center;
    align-items: center;
}
.location-img{
    width: 22px;
    height: 32px;
}
.location-link a{
    margin-left: 20px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}
.container{
    max-width: 72rem;
    padding: 0 1.875rem;
    margin: 0 auto;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    padding-top: 2.5rem;
}
.footer-img{
    display: flex;
    align-items: end;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 160px;
}
.footer-img p{
    width: 300px;
    height: 310px;
    margin-bottom: 0px;
    margin-left: 160px;
}
.header-burger{
    display: none;
    cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
    .main-group{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-shelter{
        max-width: 72rem;
        padding: 0 1.875rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
        gap: 1.563rem;
    }
    .heading-text-our-friends{
        display: flex;
        justify-content: center;
    }
    .slider-item{
        display: none;
    }
    .slider-control-right{
        right: 15px;
    }
    .slider-control-left{
        left: 15px;
    }
    .help-cards-content-top{
        display: grid;
        grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
        gap: 3.75rem;
    }
    .help-cards-content-bottom{
        display: grid;
        grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
        gap: 3.75rem;
    }
    .donation-elements{
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        gap: 1.25rem;

    }
    .footer-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /*gap: 3.75rem;*/
    }
}
/*@media (min-width: 320px) and (max-width: 768px) {*/
/*    .header-burger{*/
/*        display: block;*/
/*        transition: .3s;*/
/*    }*/
/*.burger-line{*/
/*    width: 1.875rem;*/
/*    height: 0.125rem;*/
/*    margin-bottom: 0.563rem;*/
/*    border-bottom: 1px solid #F1CDB4;*/
/*}*/
/*.navbar-header{*/
/*    display: none;*/
/*}*/
/*    .main-group {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        gap: 2.625rem;*/
/*    }*/
/*}*/